:root {
    --light-hl-0: #1E66F5;
    --dark-hl-0: #61AFEF;
    --light-hl-1: #4C4F69;
    --dark-hl-1: #ABB2BF;
    --light-hl-2: #40A02B;
    --dark-hl-2: #98C379;
    --light-hl-3: #7C7F93;
    --dark-hl-3: #7F848E;
    --light-hl-4: #8839EF;
    --dark-hl-4: #C678DD;
    --light-hl-5: #7C7F93;
    --dark-hl-5: #ABB2BF;
    --light-hl-6: #4C4F69;
    --dark-hl-6: #E06C75;
    --light-hl-7: #DF8E1D;
    --dark-hl-7: #ABB2BF;
    --light-hl-8: #DF8E1D;
    --dark-hl-8: #E5C07B;
    --light-hl-9: #179299;
    --dark-hl-9: #56B6C2;
    --light-hl-10: #04A5E5;
    --dark-hl-10: #ABB2BF;
    --light-hl-11: #179299;
    --dark-hl-11: #ABB2BF;
    --light-hl-12: #8839EF;
    --dark-hl-12: #E5C07B;
    --light-hl-13: #FE640B;
    --dark-hl-13: #D19A66;
    --light-hl-14: #4C4F69;
    --dark-hl-14: #E5C07B;
    --light-hl-15: #FE640B;
    --dark-hl-15: #E06C75;
    --light-hl-16: #1E66F5;
    --dark-hl-16: #ABB2BF;
    --light-hl-17: #FE640B;
    --dark-hl-17: #ABB2BF;
    --light-hl-18: #FE640B;
    --dark-hl-18: #E5C07B;
    --light-hl-19: #179299;
    --dark-hl-19: #C678DD;
    --light-hl-20: #E64553;
    --dark-hl-20: #E06C75;
    --light-hl-21: #D20F39;
    --dark-hl-21: #E5C07B;
    --light-hl-22: #8839EF;
    --dark-hl-22: #D19A66;
    --light-hl-23: #7C7F93;
    --dark-hl-23: #C678DD;
    --light-hl-24: #40A02B;
    --dark-hl-24: #E06C75;
    --light-hl-25: #40A02B;
    --dark-hl-25: #ABB2BF;
    --light-hl-26: #179299;
    --dark-hl-26: #E06C75;
    --light-hl-27: #7C7F93;
    --dark-hl-27: #E06C75;
    --light-hl-28: #1E66F5;
    --dark-hl-28: #E06C75;
    --light-hl-29: #EA76CB;
    --dark-hl-29: #56B6C2;
    --light-hl-30: #EA76CB;
    --dark-hl-30: #E5C07B;
    --light-hl-31: #DF8E1D;
    --dark-hl-31: #D19A66;
    --light-code-background: #eff1f5;
    --dark-code-background: #282c34;
}

@media (prefers-color-scheme: light) { :root {
    --hl-0: var(--light-hl-0);
    --hl-1: var(--light-hl-1);
    --hl-2: var(--light-hl-2);
    --hl-3: var(--light-hl-3);
    --hl-4: var(--light-hl-4);
    --hl-5: var(--light-hl-5);
    --hl-6: var(--light-hl-6);
    --hl-7: var(--light-hl-7);
    --hl-8: var(--light-hl-8);
    --hl-9: var(--light-hl-9);
    --hl-10: var(--light-hl-10);
    --hl-11: var(--light-hl-11);
    --hl-12: var(--light-hl-12);
    --hl-13: var(--light-hl-13);
    --hl-14: var(--light-hl-14);
    --hl-15: var(--light-hl-15);
    --hl-16: var(--light-hl-16);
    --hl-17: var(--light-hl-17);
    --hl-18: var(--light-hl-18);
    --hl-19: var(--light-hl-19);
    --hl-20: var(--light-hl-20);
    --hl-21: var(--light-hl-21);
    --hl-22: var(--light-hl-22);
    --hl-23: var(--light-hl-23);
    --hl-24: var(--light-hl-24);
    --hl-25: var(--light-hl-25);
    --hl-26: var(--light-hl-26);
    --hl-27: var(--light-hl-27);
    --hl-28: var(--light-hl-28);
    --hl-29: var(--light-hl-29);
    --hl-30: var(--light-hl-30);
    --hl-31: var(--light-hl-31);
    --code-background: var(--light-code-background);
} }

@media (prefers-color-scheme: dark) { :root {
    --hl-0: var(--dark-hl-0);
    --hl-1: var(--dark-hl-1);
    --hl-2: var(--dark-hl-2);
    --hl-3: var(--dark-hl-3);
    --hl-4: var(--dark-hl-4);
    --hl-5: var(--dark-hl-5);
    --hl-6: var(--dark-hl-6);
    --hl-7: var(--dark-hl-7);
    --hl-8: var(--dark-hl-8);
    --hl-9: var(--dark-hl-9);
    --hl-10: var(--dark-hl-10);
    --hl-11: var(--dark-hl-11);
    --hl-12: var(--dark-hl-12);
    --hl-13: var(--dark-hl-13);
    --hl-14: var(--dark-hl-14);
    --hl-15: var(--dark-hl-15);
    --hl-16: var(--dark-hl-16);
    --hl-17: var(--dark-hl-17);
    --hl-18: var(--dark-hl-18);
    --hl-19: var(--dark-hl-19);
    --hl-20: var(--dark-hl-20);
    --hl-21: var(--dark-hl-21);
    --hl-22: var(--dark-hl-22);
    --hl-23: var(--dark-hl-23);
    --hl-24: var(--dark-hl-24);
    --hl-25: var(--dark-hl-25);
    --hl-26: var(--dark-hl-26);
    --hl-27: var(--dark-hl-27);
    --hl-28: var(--dark-hl-28);
    --hl-29: var(--dark-hl-29);
    --hl-30: var(--dark-hl-30);
    --hl-31: var(--dark-hl-31);
    --code-background: var(--dark-code-background);
} }

:root[data-theme='light'] {
    --hl-0: var(--light-hl-0);
    --hl-1: var(--light-hl-1);
    --hl-2: var(--light-hl-2);
    --hl-3: var(--light-hl-3);
    --hl-4: var(--light-hl-4);
    --hl-5: var(--light-hl-5);
    --hl-6: var(--light-hl-6);
    --hl-7: var(--light-hl-7);
    --hl-8: var(--light-hl-8);
    --hl-9: var(--light-hl-9);
    --hl-10: var(--light-hl-10);
    --hl-11: var(--light-hl-11);
    --hl-12: var(--light-hl-12);
    --hl-13: var(--light-hl-13);
    --hl-14: var(--light-hl-14);
    --hl-15: var(--light-hl-15);
    --hl-16: var(--light-hl-16);
    --hl-17: var(--light-hl-17);
    --hl-18: var(--light-hl-18);
    --hl-19: var(--light-hl-19);
    --hl-20: var(--light-hl-20);
    --hl-21: var(--light-hl-21);
    --hl-22: var(--light-hl-22);
    --hl-23: var(--light-hl-23);
    --hl-24: var(--light-hl-24);
    --hl-25: var(--light-hl-25);
    --hl-26: var(--light-hl-26);
    --hl-27: var(--light-hl-27);
    --hl-28: var(--light-hl-28);
    --hl-29: var(--light-hl-29);
    --hl-30: var(--light-hl-30);
    --hl-31: var(--light-hl-31);
    --code-background: var(--light-code-background);
}

:root[data-theme='dark'] {
    --hl-0: var(--dark-hl-0);
    --hl-1: var(--dark-hl-1);
    --hl-2: var(--dark-hl-2);
    --hl-3: var(--dark-hl-3);
    --hl-4: var(--dark-hl-4);
    --hl-5: var(--dark-hl-5);
    --hl-6: var(--dark-hl-6);
    --hl-7: var(--dark-hl-7);
    --hl-8: var(--dark-hl-8);
    --hl-9: var(--dark-hl-9);
    --hl-10: var(--dark-hl-10);
    --hl-11: var(--dark-hl-11);
    --hl-12: var(--dark-hl-12);
    --hl-13: var(--dark-hl-13);
    --hl-14: var(--dark-hl-14);
    --hl-15: var(--dark-hl-15);
    --hl-16: var(--dark-hl-16);
    --hl-17: var(--dark-hl-17);
    --hl-18: var(--dark-hl-18);
    --hl-19: var(--dark-hl-19);
    --hl-20: var(--dark-hl-20);
    --hl-21: var(--dark-hl-21);
    --hl-22: var(--dark-hl-22);
    --hl-23: var(--dark-hl-23);
    --hl-24: var(--dark-hl-24);
    --hl-25: var(--dark-hl-25);
    --hl-26: var(--dark-hl-26);
    --hl-27: var(--dark-hl-27);
    --hl-28: var(--dark-hl-28);
    --hl-29: var(--dark-hl-29);
    --hl-30: var(--dark-hl-30);
    --hl-31: var(--dark-hl-31);
    --code-background: var(--dark-code-background);
}

.hl-0 { color: var(--hl-0); }
.hl-1 { color: var(--hl-1); }
.hl-2 { color: var(--hl-2); }
.hl-3 { color: var(--hl-3); }
.hl-4 { color: var(--hl-4); }
.hl-5 { color: var(--hl-5); }
.hl-6 { color: var(--hl-6); }
.hl-7 { color: var(--hl-7); }
.hl-8 { color: var(--hl-8); }
.hl-9 { color: var(--hl-9); }
.hl-10 { color: var(--hl-10); }
.hl-11 { color: var(--hl-11); }
.hl-12 { color: var(--hl-12); }
.hl-13 { color: var(--hl-13); }
.hl-14 { color: var(--hl-14); }
.hl-15 { color: var(--hl-15); }
.hl-16 { color: var(--hl-16); }
.hl-17 { color: var(--hl-17); }
.hl-18 { color: var(--hl-18); }
.hl-19 { color: var(--hl-19); }
.hl-20 { color: var(--hl-20); }
.hl-21 { color: var(--hl-21); }
.hl-22 { color: var(--hl-22); }
.hl-23 { color: var(--hl-23); }
.hl-24 { color: var(--hl-24); }
.hl-25 { color: var(--hl-25); }
.hl-26 { color: var(--hl-26); }
.hl-27 { color: var(--hl-27); }
.hl-28 { color: var(--hl-28); }
.hl-29 { color: var(--hl-29); }
.hl-30 { color: var(--hl-30); }
.hl-31 { color: var(--hl-31); }
pre, code { background: var(--code-background); }
